{% extends 'base/base.html' %}
{% block content %}
<div style="flex-direction: row; display: flex; align-items: baseline;">
    <img style="padding-left: 30%; padding-top: 45px;" src='../static/images/R&M_no_background.png'>
    <h6 style="color:blanchedalmond; font-family: 'get_schwiftyregular'; font-size: 25px;">
        <a href="https://github.com/Felipehanckes/TareasTallerIntegracion"> byFeHa 
        </a> 
    </h6>
</div>
<div class="container">
    <div>
    </div>
    <div class="listing">
        <div style="display: flex; flex-direction: row; margin-left: 100px;">
            <h3 id="head">Chapter name</h3>
            <h3 id="head">Release date</h3>
        </div> 
    </div>
    {% if results %}
    {% for episode in results %}
    <div class="listing">
        <h3>{{episode.episode}}</h3>
        <h3 id="body"><a href="{% url 'rickmortyapp:episode' id=episode.id %}">{{episode.name}}</a></h3>
        <h3 id="body">{{episode.air_date}}</h3>
    </div>
    {% endfor %}
    {% else %}
    <h1> No hay resultados, la API debio fallar</h1>
    {% endif %}
</div>
{% endblock %}

